target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Ignorera alla .pyc-filer
*.pyc

# Ignorera systemfiler
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini

# Ignorera OneDrive-synkade filer
OneDrive/*

# Ignorera nedladdade zip-filer
*.zip

# Ignorera molndalAPIExample om det inte är relevant
molndalAPIExample/

# Ignorera binära filer som .msi
*.msi

# Ignorera Maven nedladdningar och bin-mapp
apache-maven-*/bin/

# Ignorera databaser och dump-filer
webservice_dump.sql

# Ignorera ospecifika projektfiler
aws/
git/

# Ignorera tillfälliga filer och mappar
*.log
*.bak
*.tmp
*.swp
